h1 {
    background-color:blueviolet;

}

img {
    border-radius: 50px 80px 50px 80px;
    image-rendering: crisp-edges;
    
}

#directory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.person {
    margin: 20px;
    width: 20%;
}