h1 {
    background-color:blueviolet;

}

.directory {
    padding: 0;
    margin: 0;
    border: none;
    max-width: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    border: 0;
    /* flex: 1 1 auto; */
}

img {
    border-radius: 50%;
    position: relative;
    flex: 1 1 auto;
    aspect-ratio: 1;
    image-rendering: crisp-edges;
    
}

h2 {
    padding: 10px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    
}

ul li {
    list-style-type: none;
    font-weight: bold;
}

.city {
    padding: 0 0 8px;
}

.phone2 {
    padding: 0 0 8px;
}